<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>

  	<!-- controller 로그 -->
  	<Logger name="kr.co.metanet.university.controller" level="info"/>
  	
  	<!-- mapper 로그 -->
  	<Logger name="kr.co.metanet.university.mapper" level="debug"/>

  	
  	<Logger name="com.spring.task" level="info"/>
  	
  	<Logger name="org.springframework.core" level="info"/>
  	<Logger name="org.springframework.beans" level="info"/>
  	<Logger name="org.springframework.context" level="info"/>
  	<Logger name="org.springframework.web" level="debug"/>
  	<Logger name="org.springframework.jdbc" level="debug"/>
  	<Logger name="org.springframework.websocket" level="info"/>
  	
    <Root level="error">
    <!-- 에러가 발생하면 지정한대로 출력요청 -->
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>