<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.metanet.university.mapper.BoardMapper">


	<!-- 모든 사용자용 -->
	<!-- 전체 리스트 조회 -->
	<select id="list"
		resultType="kr.co.metanet.university.domain.BoardVO">
	<![CDATA[
		select *
		from(select rownum rn, b_no , b_title, b_content, b_sysdate , b_views, b_sort, writer
		    from (select b.b_no , b.b_title, b.b_content, b.b_sysdate , b.b_views, b.b_sort, a.division as writer
		          from board b, admin a, member m   
		          where 
		  	]]>        
		       <include refid="criteria"></include>
		<![CDATA[ 	
		        b.b_writer_code=m.id and a.code=m.code
		        order by b_no desc)
		     where rownum <=(#{page}*10))
		 where rn > ((#{page}-1)*10)    
		 ]]>
	</select>

	<!-- 게시글 클릭시 조회수 증가 -->
	<update id="addviews">
		update board set b_views=#{b_views} where b_no=#{b_no}
	</update>

	<!-- 게시글 조회 : 뷰 이용 -->
	<select id="view" resultType="kr.co.metanet.university.domain.BoardVO">
		select b_no, b_title, b_content, b_sysdate, b_views, writer 
		from b_view 
		where b_no=#{b_no}
	</select>

	<!-- 전체 게시글 수 계산 -->
	<select id="totalCnt" resultType="int">
		select count(*)
		from board
		where
		<include refid="criteria"></include>
		b_no > 0
	</select>

	<!-- 동적 criteria sql -->
	<sql id="criteria">
		<if test="sort != null || sort == ''">
			<if test="sort=='제목'.toString()">
				b_title like '%'||#{keyword}||'%' and
			</if>
			<if test="sort=='내용'.toString()">
				b_content like '%'||#{keyword}||'%' and
			</if>
			<if test="sort=='작성자'.toString()">
				b_writer like '%'||#{keyword}||'%' and
			</if>
		</if>
	</sql>


	<!-- 관리자용 -->
	<!-- 게시글 작성 -->
	<insert id="insert">
		<!-- b_no값 미리 처리, 저장 -->
		<selectKey keyProperty="b_no" order="BEFORE"
			resultType="int">
			select BOARD_SEQUENCE.nextval from dual
		</selectKey>
		insert into BOARD (b_no, b_title, b_writer_code, b_content, b_sysdate,
		b_sort)
		values(#{b_no}, #{b_title}, #{b_writer_code}, #{b_content},
		sysdate, #{b_sort})
	</insert>


	<!-- 게시글 수정 -->
	<update id="update">
		update board
		set b_title=#{b_title},
		b_content=#{b_content}, b_sort=#{b_sort}
		where b_no=#{b_no}
	</update>

	<!-- 게시글 삭제 -->
	<delete id="delete">
		delete from board where b_no=#{b_no}
	</delete>


</mapper>