<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.metanet.university.mapper.ClassRegisterMapper">
	
	<select id="getLectureList" resultType="kr.co.metanet.university.domain.LectureVO">
		<![CDATA[
			select *
			from (select rownum rn, lecture_code, lecture_name, professor_id, grade, classroom, division, lecture_time, lecture_year, semester, student_count, student_full, credit, section, dept_code, remarks
			      from (select l.lecture_code, l.lecture_name, l.professor_id, l.grade, l.classroom, l.division, l.lecture_time, l.lecture_year, l.semester, l.student_count, l.student_full, l.credit, l.section, l.dept_code, l.remarks
			            from lecture l )
			      where rownum <= (#{cri.pageNum}*#{cri.amount}))
			where rn > ((#{cri.pageNum}-1)*#{cri.amount})
		]]>
	</select>
	
	<select id="getLectureRegisteredList" resultType="kr.co.metanet.university.domain.LectureVO">
		SELECT * FROM student_lecture
	</select>
	
	
	
</mapper>