<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.metanet.university.mapper.MemberMapper">
	
	<select id="selectMemberByCode" resultType="kr.co.metanet.university.domain.Member">
		SELECT m.ID, m.CODE, m.PASSWORD, m.NAME, mr.ROLE_NAME, m.CREATE_DATE, m.MODIFY_DATE 
		FROM MEMBER_ROLE mr 
		JOIN "MEMBER" m ON mr.MEMBER_ID = m.ID 
		WHERE m.CODE = #{code}
	</select>
	
	<select id="selectStudentByCode" resultType="kr.co.metanet.university.domain.MemberStudent">
		SELECT m.ID, m.NAME, mr.ROLE_NAME, m.code, m.PASSWORD, d.DEPARTMENT_NAME, s.GRADE, s.BIRTHDAY, s.ACADEMIC_STATUS, s.ADMISSION_DATE, s.EMAIL, s.PHONE 
		FROM MEMBER_ROLE mr 
		JOIN "MEMBER" m ON mr.MEMBER_ID = m.ID
		JOIN STUDENT s ON m.CODE = s.CODE 
		JOIN DEPARTMENT d ON s.DEPARTMENT_CODE = d.DEPARTMENT_CODE 
		WHERE m.CODE = #{code}
	</select>
	
	<select id="selectProfessorByCode" resultType="kr.co.metanet.university.domain.MemberProfessor">
		SELECT m.id, m.NAME, mr.ROLE_NAME, m.CODE, m.PASSWORD, d.DEPARTMENT_NAME, p.BIRTHDAY, p.EMAIL, p.PHONE, p."DEGREE" 
		FROM MEMBER_ROLE mr 
		JOIN "MEMBER" m ON mr.MEMBER_ID = m.ID
		JOIN PROFESSOR p ON m.CODE = p.CODE 
		JOIN DEPARTMENT d ON p.DEPARTMENT_CODE = d.DEPARTMENT_CODE 
		WHERE p.CODE = #{code}
	</select>
	
	<select id="selectAdminByCode" resultType="kr.co.metanet.university.domain.MemberAdmin">
		SELECT m.ID, m.NAME, mr.ROLE_NAME, m.CODE, m.PASSWORD, a."POSITION", a.EMAIL, a.PHONE, a.DIVISION 
		FROM MEMBER_ROLE mr 
		JOIN "MEMBER" m ON mr.MEMBER_ID = m.ID
		JOIN ADMIN a ON m.CODE = a.CODE 
		WHERE a.CODE = #{code}
	</select>
	
	<update id="updatePassword" parameterType="java.util.Map">
		UPDATE MEMBER 
		SET PASSWORD = #{password} 
		WHERE code = #{code}
	</update>
	
	
	<update id="updateStudentInfo" parameterType="java.util.Map">
		UPDATE STUDENT 
		SET EMAIL = #{email},
			PHONE = #{phone}
		WHERE code = #{code}
	</update>
	
	<update id="updateProfessorInfo" parameterType="java.util.Map">
		UPDATE PROFESSOR 
		SET EMAIL = #{email},
			PHONE = #{phone}
		WHERE code = #{code}
	</update>
	
	<update id="updateAdminInfo" parameterType="java.util.Map">
		UPDATE ADMIN
		SET EMAIL = #{email},
			PHONE = #{phone},
			"POSITION" = #{position},
			DIVISION = #{division}
		WHERE code = #{code}
	</update>
	
</mapper>

