<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.metanet.university.mapper.ProfessorStudentMapper">

	<select id="getAllStudent" parameterType="int"	resultType="kr.co.metanet.university.domain.MemberStudent">
		SELECT m.ID, m.NAME, mr.ROLE_NAME, m.code, m.PASSWORD, d.DEPARTMENT_NAME, s.GRADE, s.BIRTHDAY, s.ACADEMIC_STATUS, s.ADMISSION_DATE, s.EMAIL, s.PHONE
		FROM student s, department d, member m, student_lecture sl, member_role mr
		WHERE m.id = sl.student_id AND sl.lecture_id = #{lecture_id}
		AND m.code = s.code AND d.department_code = s.department_code
		AND mr.member_id = m.id
		ORDER BY s.department_code ASC, s.grade DESC, m.name ASC   
	</select>

	<select id="getAllScore" parameterType="int" resultType="kr.co.metanet.university.domain.StudentLectureVO">
		select sl.student_id, sl.lecture_id, sl.score,
		sl.midterm_exam,sl.final_exam,sl.attendance,sl.total,sl.assignment 
		FROM student s, department d, member m, student_lecture sl, member_role mr
		WHERE m.id = sl.student_id AND sl.lecture_id = #{lecture_id}
		AND m.code = s.code AND d.department_code = s.department_code
		AND mr.member_id = m.id
		ORDER BY s.department_code ASC, s.grade DESC, m.name ASC
	</select>
	
	<update id="updateScore" parameterType="Map">
		UPDATE STUDENT_LECTURE
		SET score = #{score}, midterm_exam = #{midterm_exam}, final_exam = #{final_exam},assignment = #{assignment}, attendance = #{attendance}, total = #{total}
		WHERE student_id = #{student_id} and lecture_id = #{lecture_id}
	</update>
	
	<delete id="deleteStudent" parameterType="Map">
		DELETE 
		FROM student_lecture
		WHERE student_id = #{student_id} and lecture_id = #{lecture_id}
	</delete>


	

</mapper>