<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.metanet.university.mapper.ProfessorLectureMapper">

	<select id="getAllLecture" parameterType="int" resultType="kr.co.metanet.university.domain.LectureVO">
	SELECT * 
	FROM LECTURE 
	WHERE PROFESSOR_ID = #{professor_id}
	ORDER BY lecture_code ASC
	</select>
	
	<select id="getNowALLLecture" parameterType="hashMap" resultType="kr.co.metanet.university.domain.LectureVO">
	SELECT * 
	FROM LECTURE 
	WHERE professor_id = #{professor_id} 
	and LECTURE_YEAR = #{lecture_year}
	and SEMESTER = #{semester}
	ORDER BY lecture_code ASC
	</select>

	<select id="getLecture" parameterType="int" resultType="kr.co.metanet.university.domain.LectureVO">
	SELECT * FROM LECTURE
	WHERE ID = #{id}
	</select>

	<insert id="create" parameterType="kr.co.metanet.university.domain.LectureVO">
	INSERT INTO LECTURE(LECTURE_CODE,LECTURE_NAME,PROFESSOR_ID,GRADE,CLASSROOM,DIVISION,LECTURE_TIME,LECTURE_YEAR,SEMESTER,STUDENT_COUNT,STUDENT_FULL,CREDIT,SECTION,DEPT_CODE,REMARKS)
	VALUES(#{lecture_code},#{lecture_name},#{professor_id},#{grade},#{classroom},#{division},#{lecture_time},#{lecture_year},#{semester},#{student_count},#{student_full},#{credit},#{section},#{dept_code},#{remarks})
	</insert>
	
	<update id="update" parameterType="kr.co.metanet.university.domain.LectureVO">
	UPDATE LECTURE
	SET LECTURE_NAME= #{lecture_name},SEMESTER= #{semester}, GRADE= #{grade},CLASSROOM= #{classroom},DIVISION= #{division},LECTURE_TIME= #{lecture_time},STUDENT_FULL= #{student_full},CREDIT= #{credit},SECTION= #{section},DEPT_CODE= #{dept_code},REMARKS= #{remarks}
	WHERE ID = #{id} 
	</update>
	
	<delete id="delete" parameterType="int">
	DELETE FROM LECTURE WHERE ID = #{id}
	</delete>


</mapper>

