<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.metanet.university.mapper.StudentLectureMapper">
	
	<select id="getStudentLectureList" resultType="kr.co.metanet.university.domain.LectureVO">
		select *
		from lecture l, student_lecture s_l
		where l.id = s_l.lecture_id and student_id = #{student_id}
	</select>
	
	<insert id="insert">
		insert into student_lecture(student_id, lecture_id, score, enrolment)
		values(#{student_id}, #{lecture_id}, 'x', 1)
	</insert>
	
	<delete id="delete">
		delete from student_lecture where student_id = #{student_id} and lecture_id = #{lecture_id}
	</delete>
</mapper>